<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-talk content">
    <form action="/talks" method="POST">
      <label for="title">talk title:</label>
      <input type="text" id="title" name="title" required>
      <label for="snippet">talk snippet:</label>
      <input type="text" id="snippet" name="snippet" required>
      <label for="body">talk body:</label>
      <textarea id="body" name="body" required></textarea>
      <button>Submit</button>
    </form>
  </div>

  <%- include("./partials/foot.ejs") %>
</body>
</html>